day-3/
node_modules
package-lock.json
day-27/flask-project/myvenv
day-27/flask-project/init_db.py
day-27/flask-project/instance
day-27/flask-project/__pycache__
day-28/system-design/python/src/auth/venv
day-28/system-design/python/src/gateway/menv
day-28/system-design/python/src/notification/venv
day-28/system-design/python/src/convertor/venv
day-26/
